# Qt Creator build
MUD-build-desktop
MUD.pro.user

# Don't save user data
player.*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
