.portal-editor {
    top: 180px;
    left: -webkit-calc(50% - 330px);
    left: -moz-calc(50% - 330px);
    left: calc(50% - 330px);
    right: -webkit-calc(50% - 330px);
    right: -moz-calc(50% - 330px);
    right: calc(50% - 330px);
}
    .portal-editor p {
        padding: 1em 0;
    }
    .portal-editor .column {
        display: inline-block;
        width: 50%;
    }
    .portal-editor .column:nth-child(2) {
        position: absolute;
        top: 0;
        left: 50%;
    }
    .portal-editor .label {
        display: inline-block;
        margin: 4px;
        width: 80px;
        font-weight: bold;
        text-align: right;
        vertical-align: top;
    }
    .portal-editor .x,
    .portal-editor .y,
    .portal-editor .z {
        width: 5em;
    }
        .portal-editor .delete-button {
            position: absolute;
            top: 3px;
            left: 3px;

            background-color: red;
            color: white;
            font-weight: bold;
        }

.portal-delete {
    top: 200px;
    left: -webkit-calc(50% - 200px);
    left: -moz-calc(50% - 200px);
    left: calc(50% - 200px);
    right: -webkit-calc(50% - 200px);
    right: -moz-calc(50% - 200px);
    right: calc(50% - 200px);
}
