.dialog {
    position: absolute;
    z-index: 3;

    border: 1px solid black;
    background-color: white;
    box-shadow: 0 3px 15px 0px black;

    font-family: "Helvetica", "Arial", sans-serif;

    -webkit-user-select: text;
}
    .dialog p {
        margin: 1em;
    }
    .dialog .button-list {
        position: relative;

        padding: 5px 10px 5px;
        background-color: #ccc;

        text-align: right;
    }

.loading {
    top: 250px;
    left: -webkit-calc(50% - 100px);
    left: -moz-calc(50% - 100px);
    left: calc(50% - 100px);
    right: -webkit-calc(50% - 100px);
    right: -moz-calc(50% - 100px);
    right: calc(50% - 100px);
}
    .loading p {
        font-weight: bold;
        text-align: center;
    }

.property-editor {
    top: 150px;
    left: 150px;
    right: 150px;
}

.portal-editor {
    top: 180px;
    left: -webkit-calc(50% - 330px);
    left: -moz-calc(50% - 330px);
    left: calc(50% - 330px);
    right: -webkit-calc(50% - 330px);
    right: -moz-calc(50% - 330px);
    right: calc(50% - 330px);
}
    .portal-editor p {
        margin: 0;
    }
    .portal-editor .column {
        display: inline-block;
        width: 50%;
    }
    .portal-editor .column:nth-child(2) {
        position: absolute;
        top: 0;
        left: 50%;
    }
    .portal-editor .label {
        display: inline-block;
        margin: 4px;
        width: 80px;
        font-weight: bold;
        text-align: right;
        vertical-align: top;
    }
    .portal-editor .x,.portal-editor .y,.portal-editor .z {
        width: 5em;
    }
        .portal-editor .delete-button {
            position: absolute;
            top: 3px;
            left: 3px;

            background-color: red;
            color: white;
            font-weight: bold;
        }

.portal-delete {
    top: 200px;
    left: -webkit-calc(50% - 200px);
    left: -moz-calc(50% - 200px);
    left: calc(50% - 200px);
    right: -webkit-calc(50% - 200px);
    right: -moz-calc(50% - 200px);
    right: calc(50% - 200px);
}

.map-editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
    .map-editor .map-canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;

        background-color: white;
    }
    .map-editor .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 23px;
        z-index: 3;

        border-bottom: 1px solid black;
        padding: 5px;
        background-color: white;
        background-image: -moz-linear-gradient(top, #fff, #ccc);
        background-image: -ms-linear-gradient(top, #fff, #ccc);
        background-image: -webkit-linear-gradient(top, #fff, #ccc);
        background-image: linear-gradient(top, #fff, #ccc);
        box-shadow: -15px 3px 15px 0 black;

        font-family: "Helvetica", "Arial", sans-serif;
    }
        .toolbar .label {
            display: inline-block;

            margin: -6px 0;
            padding: 10px 4px;

            vertical-align: top;
        }
        .toolbar .menu {
            cursor: pointer;
        }
            .toolbar .menu .menu-content {
                display: none;
                position: absolute;
                z-index: 4;

                margin: 9px 0 0 -10px;
                border: 1px solid #ccc;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                padding: 4px;
                background: rgba(250, 250, 250, 0.95);
                box-shadow: 0 3px 15px 0 #888;
            }
            .toolbar .menu:hover .menu-content {
                display: block;
            }
                .toolbar .menu .menu-item {
                    padding: 5px;
                }
                .toolbar .z-restriction {
                    width: 5em;
                }
    .map-editor .sidebar {
        position: absolute;
        top: 34px;
        right: 0;
        width: -webkit-calc(20% - 2px);
        width: -moz-calc(20% - 2px);
        width: calc(20% - 2px);
        min-width: 18em;
        height: -webkit-calc(100% - 44px);
        height: -moz-calc(100% - 44px);
        height: calc(100% - 44px);
        z-index: 3;

        border-left: 2px solid #000;
        padding: 5px;
        background-color: white;

        font-family: "Helvetica", "Arial", sans-serif;
    }
        .sidebar .x,.sidebar .y,.sidebar .z {
            width: 5em;
        }
        .sidebar .add,.sidebar .edit.description {
            font-size: 75%;
        }
        .sidebar .description {
            white-space: pre-line;
        }
    .map-editor .close {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 16px;
        height: 16px;

        background-image: url(/img/close.png);
        background-size: 16px 16px;

        cursor: pointer;
    }

.slider {
    display: inline-block;
    height: 8px;

    margin: 6px 5px;
    border: 1px solid gray;
    border-radius: 2px;
    background-color: #f0f0f0;
}
    .slider .handle {
        position: relative;
        top: -5px;
        width: 16px;
        height: 16px;

        border: 1px solid black;
        background-color: gray;

        cursor: pointer;
    }

.pad {
    position: absolute;
    top: 54px;
    left: 20px;
    z-index: 2;
}
    .pad .arrow {
        position: absolute;
        width: 32px;
        height: 32px;

        background-color: rgba(255, 255, 255, 0.4);
        background-size: 32px 32px;

        cursor: pointer;
    }
    .pad .up {
        top: 0px;
        left: 32px;

        background-image: url(/img/arrow_up.png);
    }
    .pad .right {
        top: 32px;
        left: 64px;

        background-image: url(/img/arrow_right.png);
    }
    .pad .down {
        top: 64px;
        left: 32px;

        background-image: url(/img/arrow_down.png);
    }
    .pad .left {
        top: 32px;
        left: 0px;

        background-image: url(/img/arrow_left.png);
    }
