body {
    margin: 0;
    padding: 0;
}

body,input {
    font-size: 10pt;
}

.status-header,.screen,.command-input {
    padding: 0.5em;
    width: 640px;
}

.status-header {
    font-weight: bold;

    margin: 2em 2em 0;
    border: 2px solid #000;
}
    .stats {
        float: right;
    }

.screen,.command-input {
    display: block;

    font-family: "Courier", monospace;
    color: #c0c0c0;
    white-space: pre-wrap;

    outline: 0;
    border: 2px inset #777;
    background: #000;
}

.screen {
    margin: 0 2em;
    height: 480px;
    overflow: auto;
}

.command-input {
    margin: 0 2em 2em;
}

.help {
    position: absolute;
    left: -webkit-calc(644px + 3em);
    left: -moz-calc(644px + 3em);
    left: calc(644px + 3em);
    top: 0;
    margin: 2em;
    border: 1px solid black;
}
    .help .header {
        font-weight: bold;

        border-bottom: 1px solid black;
    }
    .help .header,ul {
        padding: 0.5em;
    }
    .help ul {
        list-style-type: none;
        margin: 0;
    }

@media screen and (max-width: 660px) {
    body,input {
        font-size: 8pt;
    }

    .status-header,.screen,.command-input {
        padding: 0.1em;
        width: 100%;
    }

    .status-header {
        margin: 0;
        border: 0;
    }

    .screen,.command-input {
        border: 0;
    }

    .screen {
        margin: 0;
        height: 400px;
        border-bottom: 1px solid #777;
    }

    .command-input {
        margin: 0;
        border-top: 1px solid #777;
    }
}

@media screen and (max-width: 900px) {
    .help {
        display: none;
    }
}
