body {
    margin: 0;
    padding: 0;
}

.screen,.command-input {
    display: block;

    font-family: "Courier", monospace;
    font-size: 10pt;
    color: #c0c0c0;
    white-space: pre-wrap;

    outline: 0;
    border: 2px inset #777;
    padding: 0.5em;
    width: 640px;
    background: #000;
}

.screen {
    margin: 2em 2em 0;
    height: 480px;
    overflow: auto;
}

.command-input {
    margin: 0 2em 2em;
}

@media screen and (max-width: 660px) {
    .screen,.command-input {
        font-size: 8pt;
        border: 0;
        padding: 0.1em;
        width: 100%;
    }

    .screen {
        margin: 0;
        height: 400px;
        border-bottom: 1px solid #777;
    }

    .command-input {
        margin: 0;
        border-top: 1px solid #777;
    }
}
